body {
    height: 100vh;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

input {
    padding: 8px;
    margin: 11px;
    border: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0px;
}

ol {
    padding: 0px;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

li {
    margin: 5px;
}

a {
    color: red;
    text-decoration: none;
}

footer {
    margin-top: auto;
}

.img-container {
    display: flex;
    justify-content: center;
}

.link-container {
    display: flex;
    justify-content: center;
}