body {
    display: flex;
    flex-direction: column;
}

h1, h2, p {
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    color: red;
    text-decoration: none;
}

.img-container {
    display: flex;
    justify-content: center;
}

.link-container {
    display: flex;
    justify-content: center;
}